.navbar
{
    
    width: 100%;
}

.stories
{
    
    margin-left: 100%;
    font-size: large;
    color: #333333;

}

.dropdown-policy
{
    border: none;
    margin-left: 70%;
    font-size: large;
    color: rgb(149, 146, 146);
}

.user-avatar
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 2300%;
}

.dropdown-username
{
    border: none;
    margin-left: 620%;
    font-size: large;
    color: rgb(149, 146, 146);
}


/* Search and mission filters css */
.col-lg-5
{
    display: flex;
    margin-left: 8%;
    margin-top: 0.7%;
    
    
}
.dropdown-toggle
{
    color: grey;
}
.search-combine
{
    display: flex;
    margin-left: 10%;
    border: none;
    
}

.search-nav
{
    /* border: 2px solid #e7e7e7; */
    display: flex;
    
    
}

.search-icon
{
    margin-left: 15%;
    height: 25px;
    width: 25px;
    margin-top: 2%;
   
}
.search-bar
{
    border: none;
    margin-left: 5%;
    
    
    
}

.all-dropdown
{
    margin-left: 30%;
    
}




@media only screen and (min-width: 200px) and (max-width: 767px)
{
    .navbar
    {
    margin-top: 1%;
    width: 100%;
    }

    .stories
    {
        margin-left: 2%;
        font-size: large;
        color: #333333;

    }

    .dropdown-policy
    {
        border: none;
        margin-left: 2%;
        font-size: large;
        color: rgb(149, 146, 146);
    }

    .user-avatar
    {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 2%;
        margin-top: 1%;
       
    }

    .dropdown-username
    {
        border: none;
        margin-left: 2%;
        font-size: large;
        color: rgb(149, 146, 146);
        
        
    }

    /* Search and mission filters css */

    .col-lg-5
    {
        display: flex;
        margin-top: 3%;
        
    }
    .dropdown-toggle
    {
        color: grey;
    }
    .search-combine
    {
        display: flex;
        margin-left: 10%;
        border: none;
        
        
    }
    
    .search-nav
    {
        /* border: 2px solid #e7e7e7; */
        display: flex;
        
        
    }
    
    .search-icon
    {
        margin-left: 15%;
        height: 20px;
        width: 20px;
        margin-top: 8%;
       
    }
    .search-bar
    {
        border: none;
        margin-left: 5%;
        
        
        
    }
    
    .all-dropdown
    {
        margin-left: 30%;
        
    }

}



/* new */ 

@media only screen and (min-width: 500px) and (max-width: 575px)
{

      /* Search and mission filters css */

      .col-lg-5
      {
          display: flex;
          margin-top: 3%;
          margin-left: 85%;
          
      }
      .dropdown-toggle
      {
          color: grey;
      }
      .search-combine
      {
          display: flex;
          margin-left: 35%;
          border: none;
          
          
      }
      
      .search-nav
      {
          /* border: 2px solid #e7e7e7; */
          display: flex;
          
          
      }
      
      .search-icon
      {
          margin-left: 15%;
          height: 20px;
          width: 20px;
          margin-top: 8%;
         
      }
      .search-bar
      {
          border: none;
          margin-left: 5%;
          
          
          
      }
      
      .all-dropdown
      {
          margin-left: 30%;
          
      }
}

@media only screen and (min-width: 500px) and (max-width: 767px)
{

       /* Search and mission filters css */

       .col-lg-5
       {
           display: flex;
           margin-top: 3%;
           margin-left: -0.9991%;
           
       }
       .dropdown-toggle
       {
           color: grey;
       }
       .search-combine
       {
           display: flex;
           margin-left: 10%;
           border: none;
           
           
       }
       
       .search-nav
       {
           /* border: 2px solid #e7e7e7; */
           display: flex;
           
           
       }
       
       .search-icon
       {
           margin-left: 15%;
           height: 20px;
           width: 20px;
           margin-top: 8%;
          
       }
       .search-bar
       {
           border: none;
           margin-left: 5%;
           
           
           
       }
       
       .all-dropdown
       {
           margin-left: 30%;
           
       }

}




@media only screen and (min-width: 768px) and (max-width: 991px)
{
    .navbar
    {
    margin-top: 1%;
    width: 100%;
    }

    .stories
    {
        margin-left: 45%;
        font-size: 2vw;
        color: #333333;

    }

    .dropdown-policy
    {
        border: none;
        margin-left: 6%;
        font-size: 2vw;
        color: rgb(149, 146, 146);
    }

    .user-avatar
    {
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
        margin-left: 700%;
        margin-top: 1%;
       
    }

    .dropdown-username
    {
        border: none;
        margin-left: 210%;
        font-size: 2vw;
        color: rgb(149, 146, 146);
        
        
    }



    /* Search and mission filters css */

    .col-lg-5
    {
        display: flex;
        margin-top: 2.5%;
        margin-left: -1%;
        
    }
    .dropdown-toggle
    {
        color: grey;
    }
    .search-combine
    {
        display: flex;
        margin-left: 10%;
        border: none;
        
        
    }
    
    .search-nav
    {
        /* border: 2px solid #e7e7e7; */
        display: flex;
        
        
    }
    
    .search-icon
    {
        margin-left: 15%;
        height: 20px;
        width: 20px;
        margin-top: 8%;
       
    }
    .search-bar
    {
        border: none;
        margin-left: 5%;
        
        
        
    }
    
    .all-dropdown
    {
        margin-left: 30%;
        
    }


}

@media only screen and (min-width: 992px) and (max-width: 1150px)
{
    .navbar
    {
    margin-top: 1%;
    width: 100%;
    }

    .stories
    {
        margin-left: 50%;
        font-size: 2vw;
        color: #333333;

    }

    .dropdown-policy
    {
        border: none;
        margin-left: 6%;
        font-size: 2vw;
        color: rgb(149, 146, 146);
    }

    .user-avatar
    {
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
        margin-left: 750%;
        margin-top: 1%;
       
    }

    .dropdown-username
    {
        border: none;
        margin-left: 230%;
        font-size: 2vw;
        color: rgb(149, 146, 146);
        
        
    }


     /* Search and mission filters css */

     .col-lg-5
     {
         display: flex;
         margin-top: 2.5%;
         margin-left: 8%;
         
     }
     .dropdown-toggle
     {
         color: grey;
     }
     .search-combine
     {
         display: flex;
         margin-left: 10%;
         border: none;
         
         
     }
     
     .search-nav
     {
         /* border: 2px solid #e7e7e7; */
         display: flex;
         
         
     }
     
     .search-icon
     {
         margin-left: 15%;
         height: 20px;
         width: 20px;
         margin-top: 5%;
        
     }
     .search-bar
     {
         border: none;
         margin-left: 5%;
         
         
         
     }
     
     .all-dropdown
     {
         margin-left: 30%;
         
     }
 

}

@media only screen and (min-width: 1151px) and (max-width: 1200px)
{
    .navbar
    {
    margin-top: 1%;
    width: 100%;
   
    }

    .stories
    {
        margin-left: 50%;
        font-size: 2vw;
        color: #333333;

    }

    .dropdown-policy
    {
        border: none;
        margin-left: 6%;
        font-size: 2vw;
        color: rgb(149, 146, 146);
    }

    .user-avatar
    {
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
        margin-left: 800%;
        margin-top: 1%;
       
    }

    .dropdown-username
    {
        border: none;
        margin-left: 245%;
        font-size: 2vw;
        color: rgb(149, 146, 146);
        
        
    }


    /* Search and mission filters css */

    .col-lg-5
    {
        display: flex;
        margin-top: 2.5%;
        margin-left: 8%;
        
    }
    .dropdown-toggle
    {
        color: grey;
    }
    .search-combine
    {
        display: flex;
        margin-left: 10%;
        border: none;
        
        
    }
    
    .search-nav
    {
        /* border: 2px solid #e7e7e7; */
        display: flex;
        
        
    }
    
    .search-icon
    {
        margin-left: 15%;
        height: 20px;
        width: 20px;
        margin-top: 5%;
       
    }
    .search-bar
    {
        border: none;
        margin-left: 5%;
        
        
        
    }
    
    .all-dropdown
    {
        margin-left: 30%;
        
    }

}
  

@media only screen and (min-width: 1201px) and (max-width: 1554px)
{
    .navbar
    {
    margin-top: 1%;
    width: 100%;
    }

    .stories
    {
        margin-left: 50%;
        font-size: 2vw;
        color: #333333;

    }

    .dropdown-policy
    {
        border: none;
        margin-left: 6%;
        font-size: 2vw;
        color: rgb(149, 146, 146);
    }

    .user-avatar
    {
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
        margin-left: 800%;
        margin-top: 1%;
       
    }

    .dropdown-username
    {
        border: none;
        margin-left: 245%;
        font-size: 2vw;
        color: rgb(149, 146, 146);
        
        
    }

    /* Search and mission filters css */

    .col-lg-5
    {
        display: flex;
        margin-top: 2.5%;
        margin-left: 8%;
        
    }
    .dropdown-toggle
    {
        color: grey;
    }
    .search-combine
    {
        display: flex;
        margin-left: 10%;
        border: none;
        
        
    }
    
    .search-nav
    {
        /* border: 2px solid #e7e7e7; */
        display: flex;
        
        
    }
    
    .search-icon
    {
        margin-left: 15%;
        height: 20px;
        width: 20px;
        margin-top: 5%;
       
    }
    .search-bar
    {
        border: none;
        margin-left: 5%;
        
        
        
    }
    
    .all-dropdown
    {
        margin-left: 30%;
        
    }

}