.navbar
{
    
    width: 100%;
}

.stories
{
    
    margin-left: 100%;
    font-size: large;
    color: #333333;

}

.dropdown-policy
{
    border: none;
    margin-left: 70%;
    font-size: large;
    color: rgb(149, 146, 146);
}

.user-avatar
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 2300%;
}

.dropdown-username
{
    border: none;
    margin-left: 620%;
    font-size: large;
    color: rgb(149, 146, 146);
}


/* Search and mission filters css */
.col-lg-5
{
    display: flex;
    margin-left: 8%;
    margin-top: 0.4%;
    
    
}
.dropdown-toggle
{
    color: grey;
}
.search-combine
{
    display: flex;
    margin-left: 10%;
    border: none;
    
}

.search-nav
{
    /* border: 2px solid #e7e7e7; */
    display: flex;
    
    
}

.search-icon
{
    margin-left: 15%;
    height: 25px;
    width: 25px;
    margin-top: 2%;
   
}
.search-bar
{
    border: none;
    margin-left: 5%;
    
    
    
}

.all-dropdown
{
    margin-left: 30%;
    
}
hr{
    margin-top: 0%;
}
hr.hr2{
    margin-top: 0%;
}
.row-search
{
    margin-top: -1%;
}

/* Search History Filters */

.search-history
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 14px;
    width: 150px;
    height: 30px;
    color: grey;
    
}

.btn-s-long
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 14px;
    width: 210px;
    height: 30px;
    color: grey;
}

.btn-s-short
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 14px;
    width: 120px;
    height: 30px;
    color: grey;
}

.col-lg-11
{
    margin-left: 7%;
    margin-top: 0%;
    
}

.img-cancel
{
    height: 8px;
    width: 8px;
    margin-left: 4%;
}
.clear-all
{
    margin-left: 1.5%;
    text-decoration: none;
    color: grey;
}

/* Main Grid Content */
.explore72
{
    
    text-align: left;
    letter-spacing: NaNpx;
    font-size: 1.5vw;
    color: #020101;
    margin-top: 1%;
}
.gridview
{
    display: flex;
    margin-left: 7%;
    
    
}
.card1
{
    margin-left: 1%;
    height: 180%;
    width: 30%;
    margin-top: 1%;
    
}

.other-cards
{
    margin-left: 2%;
    height: 180%;
    width: 30%;
    margin-top: 1%;
    
}
.card-img-top
{
    width: 100%;
    object-fit: cover;
    margin-left: 0%;
}

.missions
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 14px;
    width: 150px;
    height: 30px;
    color: grey;
    margin-left: 30%;
    margin-top: -3.5%;
    

}
.card-title
{
    margin-top: -2%;
    color: rgb(77, 77, 77);
}

.card-text
{
    color: grey;
    
}

.hr-btn
{
    margin-top: 8%;
}

  
.line-hr
{

    margin-bottom: -5%;
    width: 113%;
    margin-left: -6%;
}

.btn-date
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 14px;
    width: 280px;
    height: 30px;
    color: grey;
    margin-left: 5%;
    
}

.seats-time
{
    margin-top: 2%;
    
}

.img-seat
{
    margin-top: 5%;
}

.seat-left-no
{
    font-size: 1vw;
    color: grey;
    margin-top: -11%;
    margin-left: 12%;
    
}

.seat-left-txt
{
    color: grey;
    margin-left: 12%;
    margin-top: -6%;
    font-size: 0.9vw;
}
.img-clock
{
    margin-top: -42%;
    margin-left: 60%;
}

.date-txt
{
    font-size: 0.8vw;
    color: grey;
    margin-top: -32%;
    margin-left: 73%;

}

.deadline-txt
{
    color: grey;
    margin-left: 73%;
    margin-top: -6%;
    font-size: 0.9vw;
}

.row2
{
    margin-top: 3%;
    
}

.card
{
    /* height: 100%; */
    
}

.apply-btn
{
    width: 133px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 24px;
    color: #F88634;
    margin-top: 12%;
    margin-left: 30%;
}


.right-arrow
{
    margin-left: 5%;
}

.dropdown-sort
{
    margin-top: 1%;
    font-size: 1vw;
    margin-left: 40%;
}


#grdbtn
{
    width: 3%;
    height: -8%;
    margin-top: 1.3%;
    border-radius: 24px;
    border: none;

}

#lstbtn
{
    width: 3%;
    height: -8%;
    margin-top: 1.3%;
    margin-left: 0.5%;
    border: none;
    background-color: white;
}




/* List View */



.lst-img
{
    margin-left: 26%;
}

.col-md-8
{
    margin-left: -5%;
}
.lst-card-title
{
    color: rgb(77, 77, 77);
}

.lst-seats-time
{
    margin-top: -2.5%;
   margin-left: 3%;
   color: grey;
}

.lst-seat-left-txt
{
    margin-top: -1.6%;
}

.lst-img-seat
{
    margin-top: 0%;
    
}

.lst-img-clock
{
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: -2%;
}

.lst-date-txt
{
    margin-top: -2%;
    margin-left: -30%;
}

.lst-deadline-txt
{
    margin-top: -1.6%;
    margin-left: -30%;
}


.lst-apply-btn
{
    width: 133px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 24px;
    color: #F88634;
    margin-top: -2%;
    margin-left: 1%;
}


.lst-btn-date
{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 14px;
    width: 280px;
    height: 30px;
    color: grey;
    margin-left: 1%;
    margin-top: -1%;
}












@media only screen and (min-width: 200px) and (max-width: 767px)
{
    .navbar
    {
    margin-top: 1%;
    width: 100%;
    }

    .stories
    {
        margin-left: 2%;
        font-size: large;
        color: #333333;

    }

    .dropdown-policy
    {
        border: none;
        margin-left: 2%;
        font-size: large;
        color: rgb(149, 146, 146);
    }

    .user-avatar
    {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 2%;
        margin-top: 1%;
       
    }

    .dropdown-username
    {
        border: none;
        margin-left: 2%;
        font-size: large;
        color: rgb(149, 146, 146);
        
        
    }

    /* Search and mission filters css */

    .col-lg-5
    {
        display: flex;
        margin-top: -5%;
        margin-left: -3%;
        
    }
    .dropdown-toggle
    {
        color: grey;
    }
    .search-combine
    {
        display: flex;
        margin-left: 10%;
        border: none;
        margin-top: -0.5%;
        
    }
    
    .search-nav
    {
        
        display: flex;
        
        
    }
    
    .search-icon
    {
        margin-left: 15%;
        height: 20px;
        width: 20px;
        margin-top: 8%;
       
    }
    .search-bar
    {
        border: none;
        margin-left: 5%;
        
        
        
    }
    
    .all-dropdown
    {
        margin-left: 30%;
        
    }

    hr{
        margin-top: 0%;
        width: 100%;
    }
    hr.hr2{
        margin-top: 0%;
    }
    .row-search
    {
        margin-top: -1%;
    }
    
    /* Search History Filters */
    
    .search-history
    {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E8E8E8;
        border-radius: 14px;
        width: 150px;
        height: 30px;
        color: grey;
        margin-top: 2%;
        
    }
    
    .btn-s-long
    {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E8E8E8;
        border-radius: 14px;
        width: 210px;
        height: 30px;
        color: grey;
        margin-top: 2%;
        
    }
    
    .btn-s-short
    {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E8E8E8;
        border-radius: 14px;
        width: 120px;
        height: 30px;
        color: grey;
        margin-top: 2%;
       
    }
    
    .col-lg-11
    {
        margin-left: -2%;
        margin-top: 0%;
        
    }
    
    .img-cancel
    {
        height: 8px;
        width: 8px;
        margin-left: 4%;
    }
    .clear-all
    {
        margin-left: 1.5%;
        text-decoration: none;
        color: grey;
    }
    


}



/* new */ 

@media only screen and (min-width: 500px) and (max-width: 575px)
{

      /* Search and mission filters css */

      .col-lg-5
      {
          display: flex;
          margin-top: 3%;
          margin-left: 85%;
          
      }
      .dropdown-toggle
      {
          color: grey;
      }
      .search-combine
      {
          display: flex;
          margin-left: 35%;
          border: none;
          
          
      }
      
      .search-nav
      {
          /* border: 2px solid #e7e7e7; */
          display: flex;
          
          
      }
      
      .search-icon
      {
          margin-left: 15%;
          height: 20px;
          width: 20px;
          margin-top: 8%;
         
      }
      .search-bar
      {
          border: none;
          margin-left: 5%;
          
          
          
      }
      
      .all-dropdown
      {
          margin-left: 30%;
          
      }
}

@media only screen and (min-width: 500px) and (max-width: 767px)
{

       /* Search and mission filters css */

       .col-lg-5
       {
           display: flex;
           margin-top: 3%;
           margin-left: -0.9991%;
           
       }
       .dropdown-toggle
       {
           color: grey;
       }
       .search-combine
       {
           display: flex;
           margin-left: 10%;
           border: none;
           
           
       }
       
       .search-nav
       {
           /* border: 2px solid #e7e7e7; */
           display: flex;
           
           
       }
       
       .search-icon
       {
           margin-left: 15%;
           height: 20px;
           width: 20px;
           margin-top: 8%;
          
       }
       .search-bar
       {
           border: none;
           margin-left: 5%;
           
           
           
       }
       
       .all-dropdown
       {
           margin-left: 30%;
           
       }

}





@media only screen and (min-width: 768px) and (max-width: 991px)
{
    .navbar
    {
    margin-top: 1%;
    width: 100%;
    }

    .stories
    {
        margin-left: 45%;
        font-size: 1.8vw;
        color: #333333;

    }

    .dropdown-policy
    {
        border: none;
        margin-left: 6%;
        font-size: 1.8vw;
        color: rgb(149, 146, 146);
    }

    .user-avatar
    {
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
        margin-left: 850%;
        margin-top: 0%;
       
    }

    .dropdown-username
    {
        border: none;
        margin-left: 280%;
        font-size: 1.8vw;
        color: rgb(149, 146, 146);
        
        
    }



    /* Search and mission filters css */

    .col-lg-5
    {
        display: flex;
        margin-top: 0%;
        margin-left: -1%;
        
    }
    .dropdown-toggle
    {
        color: grey;
    }
    .search-combine
    {
        display: flex;
        margin-left: 10%;
        border: none;
        margin-top: -5%;
        
        
    }
    
    .search-nav
    {
        /* border: 2px solid #e7e7e7; */
        display: flex;
        
        
    }
    
    .search-icon
    {
        margin-left: 15%;
        height: 20px;
        width: 20px;
        margin-top: 8%;
       
    }
    .search-bar
    {
        border: none;
        margin-left: 5%;
        
        
        
    }
    
    .all-dropdown
    {
        margin-left: 30%;
        
    }

    hr{
        margin-top: 0%;
        width: 100%;
    }
    hr.hr2{
        margin-top: -1%;
    }
    .row-search
    {
        margin-top: -1%;
    }
    
    /* Search History Filters */
    
    .search-history
    {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E8E8E8;
        border-radius: 14px;
        width: 150px;
        height: 30px;
        color: grey;
        margin-top: 2%;
        
    }
    
    .btn-s-long
    {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E8E8E8;
        border-radius: 14px;
        width: 210px;
        height: 30px;
        color: grey;
        margin-top: 2%;
        
    }
    
    .btn-s-short
    {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E8E8E8;
        border-radius: 14px;
        width: 120px;
        height: 30px;
        color: grey;
        margin-top: 2%;
       
    }
    
    .col-lg-11
    {
        margin-left: -2%;
        margin-top: -2%;
        
    }
    
    .img-cancel
    {
        height: 8px;
        width: 8px;
        margin-left: 4%;
    }
    .clear-all
    {
        margin-left: 1.5%;
        text-decoration: none;
        color: grey;
    }
    




}

@media only screen and (min-width: 992px) and (max-width: 1150px)
{
    .navbar
    {
    margin-top: 1%;
    width: 100%;
    }

    .stories
    {
        margin-left: 50%;
        font-size: 1.5vw;
        color: #333333;

    }

    .dropdown-policy
    {
        border: none;
        margin-left: 6%;
        font-size: 1.5vw;
        color: rgb(149, 146, 146);
    }

    .user-avatar
    {
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
        margin-left: 1150%;
        margin-top: 1%;
       
    }

    .dropdown-username
    {
        border: none;
        margin-left: 370%;
        font-size: 1.5vw;
        color: rgb(149, 146, 146);
        
        
    }


     /* Search and mission filters css */

     .col-lg-5
     {
         display: flex;
         margin-top: 1%;
         margin-left: 8%;
         
     }
     .dropdown-toggle
     {
         color: grey;
     }
     .search-combine
     {
         display: flex;
         margin-left: 10%;
         border: none;
         margin-top: -1%;
         
     }
     
     .search-nav
     {
         /* border: 2px solid #e7e7e7; */
         display: flex;
         
         
     }
     
     .search-icon
     {
         margin-left: 15%;
         height: 20px;
         width: 20px;
         margin-top: 5%;
        
     }
     .search-bar
     {
         border: none;
         margin-left: 5%;
         
         
         
     }
     
     .all-dropdown
     {
         margin-left: 30%;
         
     }
 
     hr{
        margin-top: 0%;
        width: 100%;
    }
    hr.hr2{
        margin-top: 0%;
    }
    .row-search
    {
        margin-top: -1%;
    }
    
    /* Search History Filters */
    
    .search-history
    {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E8E8E8;
        border-radius: 14px;
        width: 150px;
        height: 30px;
        color: grey;
        margin-top: 2%;
        
    }
    
    .btn-s-long
    {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E8E8E8;
        border-radius: 14px;
        width: 210px;
        height: 30px;
        color: grey;
        margin-top: 2%;
        
    }
    
    .btn-s-short
    {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E8E8E8;
        border-radius: 14px;
        width: 120px;
        height: 30px;
        color: grey;
        margin-top: 2%;
       
    }
    
    .col-lg-11
    {
        margin-left: -1%;
        margin-top: -2%;
        
    }
    
    .img-cancel
    {
        height: 8px;
        width: 8px;
        margin-left: 4%;
    }
    .clear-all
    {
        margin-left: 1.5%;
        text-decoration: none;
        color: grey;
    }
    


}

@media only screen and (min-width: 1151px) and (max-width: 1200px)
{
    .navbar
    {
    margin-top: 1%;
    width: 100%;
   
    }

    .stories
    {
        margin-left: 50%;
        font-size: 1.7vw;
        color: #333333;

    }

    .dropdown-policy
    {
        border: none;
        margin-left: 6%;
        font-size: 1.7vw;
        color: rgb(149, 146, 146);
    }

    .user-avatar
    {
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
        margin-left: 800%;
        margin-top: 0%;
       
    }

    .dropdown-username
    {
        border: none;
        margin-left: 285%;
        font-size: 1.7vw;
        color: rgb(149, 146, 146);
        
        
    }


    /* Search and mission filters css */

    .col-lg-5
    {
        display: flex;
        margin-top: 0%;
        margin-left: 8%;
        
    }
    .dropdown-toggle
    {
        color: grey;
    }
    .search-combine
    {
        display: flex;
        margin-left: 10%;
        border: none;
        margin-top: -3%;
        
    }
    
    .search-nav
    {
        /* border: 2px solid #e7e7e7; */
        display: flex;
        
        
    }
    
    .search-icon
    {
        margin-left: 15%;
        height: 20px;
        width: 20px;
        margin-top: 5%;
       
    }
    .search-bar
    {
        border: none;
        margin-left: 5%;
        
        
        
    }
    
    .all-dropdown
    {
        margin-left: 30%;
        
    }

    hr{
        margin-top: 0%;
        width: 100%;
    }
    hr.hr2{
        margin-top: 0%;
    }
    .row-search
    {
        margin-top: -1%;
    }
    
    /* Search History Filters */
    
    .search-history
    {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E8E8E8;
        border-radius: 14px;
        width: 150px;
        height: 30px;
        color: grey;
        margin-top: 2%;
        
    }
    
    .btn-s-long
    {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E8E8E8;
        border-radius: 14px;
        width: 210px;
        height: 30px;
        color: grey;
        margin-top: 2%;
        
    }
    
    .btn-s-short
    {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E8E8E8;
        border-radius: 14px;
        width: 120px;
        height: 30px;
        color: grey;
        margin-top: 2%;
       
    }
    
    .col-lg-11
    {
        margin-left: -1%;
        margin-top: -2%;
        
    }
    
    .img-cancel
    {
        height: 8px;
        width: 8px;
        margin-left: 4%;
    }
    .clear-all
    {
        margin-left: 1.5%;
        text-decoration: none;
        color: grey;
    }
    

}
  

@media only screen and (min-width: 1201px) and (max-width: 1554px)
{
    .navbar
    {
    margin-top: 1%;
    width: 100%;
    }

    .stories
    {
        margin-left: 50%;
        font-size: 2vw;
        color: #333333;

    }

    .dropdown-policy
    {
        border: none;
        margin-left: 6%;
        font-size: 2vw;
        color: rgb(149, 146, 146);
    }

    .user-avatar
    {
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
        margin-left: 800%;
        margin-top: 1%;
       
    }

    .dropdown-username
    {
        border: none;
        margin-left: 245%;
        font-size: 2vw;
        color: rgb(149, 146, 146);
        
        
    }

    /* Search and mission filters css */

    .col-lg-5
    {
        display: flex;
        margin-top: 2.5%;
        margin-left: 8%;
        
    }
    .dropdown-toggle
    {
        color: grey;
    }
    .search-combine
    {
        display: flex;
        margin-left: 10%;
        border: none;
        
        
    }
    
    .search-nav
    {
        /* border: 2px solid #e7e7e7; */
        display: flex;
        
        
    }
    
    .search-icon
    {
        margin-left: 15%;
        height: 20px;
        width: 20px;
        margin-top: 5%;
       
    }
    .search-bar
    {
        border: none;
        margin-left: 5%;
        
        
        
    }
    
    .all-dropdown
    {
        margin-left: 30%;
        
    }

}